:root{
    --clr-PrimaryRed-500: hsl(0, 36%, 70%);
    --clr-SecondaryRed-400: hsl(0, 93%, 68%);

    --clr-NeutralRed-800: hsl(0, 6%, 24%);
    
    --clr-Gradients1-200: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 100, 98%));
    --clr-Gradients2-450: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    --fw-regular: 300;
    --fw-semibold: 400;
    --fw-bold: 600;

    --ff-base: "Josefin Sans", sans-serif;
    
  
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 

  /*General Styling */
  
  body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--clr-NeutralRed-800);
    background: var(--clr-Gradients1-200);
    line-height: 1.5;
  }
  
  /* Layout */
  .product {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
    margin: 2rem auto;
    background: var(--clr-Gradients1-200);
  }
  
  .product_img img {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        direction: 1tr;;
    }
  

  .product_img {
    order: 2;
  }
  
  .product_content {
    font-weight: var(--fw-semibold);
    color: var(--clr-PrimaryRed-500);
    max-width: 32ch;
    line-height: 1.6;
    margin-top: 1rem;
  }
}

  .subtitle {
    letter-spacing: 0.3em;
    color: var(--clr-PrimaryRed-500);
    font-weight: var(--fw-regular);
    text-transform: uppercase;  
  }
  
  .product_title {
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
    color: var(--clr-NeutralRed-800);
    line-height: 1.2;
    text-transform: uppercase;
  }

  .product_title .line {
    display: block;
  }
  
  .form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


  .input-wrapper {
    display: flex;
    width: 100%;
    position: relative;
  }
  
 .input {
    border-radius: 50px 0 0 50px;
  }
  
  .input.error {
    border-color: var(--clr-SecondaryRed-400);
  }
  .input::placeholder {
    color: var(--clr-PrimaryRed-500);
  }

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

  
  .button {
    position: relative;
    border-radius: 0 50px 50px 0;
    padding: 0 2rem;
    height: auto;
  }
  
  .button:hover {
    opacity: 0.8;
  }

  .error-message {
    color: var(--clr-SecondaryRed-400);
    font-size: 0.875rem;
    padding-top: 1rem;
  }

  .logo {
    width: 120px;
    height: auto;
    margin-bottom: 2rem;
  }
  
 @media (min-width: 768px) {
  .input-wrapper {
    flex-direction: row;
  }

  }
  
